---

---

<footer>
  <p>
    Code licensed
    <a
      href="https://creativecommons.org/licenses/by-nc/4.0/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="view CC BY-NC 4.0 license">CC BY-NC 4.0</a
    >
    © <span id="date"></span>. This site was created by
    <a
      href="https://github.com/not-josue"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="view github repo of josue">not-josue</a
    >.
  </p>
</footer>

<script is:inline>
  const spanEl = document.getElementById("date");
  const date = new Date().getFullYear().toString();
  spanEl.textContent = date;
</script>

<style>
  footer {
    font-size: var(--sl-text-sm);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--sl-color-bg-nav);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  p {
    text-wrap: pretty;
  }

  @media (min-width: 50rem) {
    footer {
      font-size: var(--sl-text-base);
    }
  }
</style>
